<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Courses</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid ">
          <div class="navbar-header">
            <a style="text-shadow: 2px 2px 5px orange"class="navbar-brand" href="/success">Edumee</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a style="color: rgb(86, 200, 253);" href="/success">Home</a></li>
            <li class="active"><a href="/Courses">Courses</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="righ" href="/" style="color: white">Logout</a></li>
        </ul>
        </div>
      </nav>


      <div class="jumbotron text-center" style="background-color: rgb(86, 200, 253);">
         <h1 style="text-shadow: 2px 2px 5px orange;color: white;">Learn To Grow</h1>
      </div>
    <div class="jumbotron  text-primary">    
          <main class='main'>

            <section class='left section'>
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
            </section>
            <section class='right section'>
              <h2>JavaScript Course</h2>
                <p>If you want to take your website to the next level,the ability to incorporate interactivity is a must.But adding some of these types of capabilities requires a stronger programming language than HTML5 or CSS3, and JavaScript can provide just what you need.  With just a basic understanding of the language, you can create a page that will react to common events such as page loads, mouse clicks & movements, and even keyboard input.This course will introduce you to the basics of the JavaScript language.</p>
            </section>
          
          </main>
    </div>
    <div class="jumbotron  text-primary" style="background-color: rgb(86, 200, 253);">
        <main class='main'>

            <section class='left section'>
               <h2>React Course</h2>
              <p> React JS course content to give learners a core understanding of the fundamental aspects of React. This syllabus is fully up to date with the latest release of React and provides complete hands-on experience in creating ReactJS applications from scratch. Our course content will further help you in advancing your path as a ReactJS professional.</p>
          
            </section>
            <section class='right section'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4UZrsTqkcW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </section> 
          </main>
    </div> 
    <div class="jumbotron  text-primary">    
        <main class='main'>

          <section class='left section'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Oe421EPjeBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </section>
          <section class='right section'>
              <h2>Nodejs + Expressjs Course</h2>
              <p>Node.js is a simple and powerful tool for backend JavaScript development.In this course,Building Web Applications with Node.js and Express 4.0 (UPDATE), you will learn everything you need to know to get started in web development with Node.js.</p>
          </section>
        
        </main>
  </div>
  <div class="jumbotron  text-primary" style="background-color: rgb(86, 200, 253);">
    <main class='main'>

        <section class='left section'>
          <h2>Java Full Course</h2>
          <p>Java Full Course will help you in understanding the various fundamentals of Java in detail with examples. </p>
        </section>
        <section class='right section'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hBh_CC5y8-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </section> 
      </main>
</div> 
<div class="jumbotron  text-primary">    
    <main class='main'>

      <section class='left section'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rfscVS0vtbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
      <section class='right section'>
          <h2>Python Course</h2>
          <p>This course will give you a full introduction into all of the core concepts in python.Follow along with the videos and you'll be a python programmer in no time!</p>
      </section>
    </main>
</div>
<div class="jumbotron  text-primary" style="background-color: rgb(86, 200, 253);">
    <main class='main'>

        <section class='left section'>
          <h2>Android Development Course</h2>
          <p>Learn how to develop an android app from scratch in this full course for beginners.No prior programming experience required!</p>
        </section>
        <section class='right section'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fis26HvvDII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        </section> 
      </main>
</div> 
<div class="jumbotron  text-primary">    
    <main class='main'>

      <section class='left section'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GZvSYJDk-us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
      <section class='right section'>
          <h2>API Course</h2>
          <p>Learn all about APIs (Application Programming Interfaces) in this full tutorial for beginners. You will learn what APIs do, why APIs exist, and the many benefits of APIs.APIs are used all the time in programming and web development so it is important to understand how to use them.You will also get hands-on experience with a few popular web APIs. As long as you know the absolute basics of coding and the web, you'll have no problem following along.</p>
      </section>
    
    </main>
</div>
<style type="text/css">
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 50%;
  height: 100%;
}

video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
}
h2{
  text-decoration: underline;
  color:  rgb(2, 28, 66);
  
}

</style>
</body>
</html> 